[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"

[dev-packages]
pytest = "*"
black = "==21.5b1"
pylint = "*"

[scripts]
alarmpy = "python alarmpy/alarmpy.py"
format = "black alarmpy"
formatcheck = "black --check alarmpy"
lint = "pylint -j 0 -d R,C alarmpy"
test = "pytest"
