[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"

[dev-packages]
pytest = "*"
black = "==21.5b1"

[scripts]
alarmpy = "python alarmpy.py"
test = "pytest"
